﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.NuevaEtapaModel

@{
    ViewBag.Title = "Editar";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nuevo proyectos</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
           
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.IDLinea)
                    @Html.HiddenFor(model => model.IDProy)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Este campo es obligatorio.", data_minlength = "1" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.duracion, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.duracion, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Este campo es obligatorio.", data_minlength = "1" } })
                            @Html.ValidationMessageFor(model => model.duracion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                    <div class="box-footer">
                        <a href="/Home/Index">Cancelar</a>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>

}
<div>
    <a href="/Etapas/Index/?idLinea=@Model.IDLinea&idProy=@Model.IDProy">Volver a lista de Etapas</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
