﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.NuevaUnidadModel

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Titulo</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Edit", "Unidades", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdCliente)
                @Html.HiddenFor(model => model.IdUnidad)
        <div class="box-body">
            <div class="form-group">               
                @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Razon Social" } })
                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ResponsableDeUnidad, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ResponsableDeUnidad, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Responsable de Unidad" } })
                @Html.ValidationMessageFor(model => model.ResponsableDeUnidad, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cuit, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Cuit, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Cuit" } })
                @Html.ValidationMessageFor(model => model.Cuit, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailResponsable, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.EmailResponsable, new { htmlAttributes = new { @type = "email", @class = "form-control", required = "required", data_error = "Ingrese un Email valido" } })
                @Html.ValidationMessageFor(model => model.EmailResponsable, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TelefonoResponsable, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.TelefonoResponsable, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Telefono" } })
                @Html.ValidationMessageFor(model => model.TelefonoResponsable, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>
        </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="~/unidades/index/@Model.IdCliente" class="btn btn-primary">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });

    </script>

}