﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.ProgramadorSkillModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Conocimiento de @Model.Programador.Nombre</h3>

                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Grado</th>
                        </tr>
                        @foreach (var skills in Model.Skills)
                        {
                            <tr>
                                <td>@skills.ID</td>
                                <td>@skills.Descripcion</td>
                                <td>@skills.Grados</td>

                                <td>
                                    <a href="/Programadores/DeleteSkills/@skills.ID?idprogramador=@Model.Programador.ID" title="borrar" class="btn btn-danger">
                                        Borrar
                                    </a>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <a href="/Programadores/NewSkill/@Model.Programador.ID" title="Nuevo Conocimiento"  type="button" class="btn btn-success">
                                        <i class="fa fa-plus"></i> Nuevo
                                    </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}

