﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.NuevaDireccionModel

@{    
    ViewBag.Title = "New";
}

    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.Titulo</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("New", "Direcciones", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator" , @id="myform"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="box-body">
                <div class="form-group">
                    @Html.HiddenFor(model => model.IdUnidad)
                    @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Domicilio" } })
                    @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Localidad" } })
                    @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Provincia" } })
                    @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo Pais" } })
                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                    <div class="help-block with-errors"></div>
                </div>
                
            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="~/direcciones/index/@Model.IdUnidad" class="btn btn-primary" >Cancelar</a>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>

@section Scripts {
  <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
  <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });
     
  </script>

}
